<body>

<h1>Edit Task</h1>

<app-task-edit *ngIf="isEdit"  [editTask]="editTask"  [taskList]="taskList" (isAdd)="submit($event)"></app-task-edit>

<div *ngIf="!isEdit">
  <form action="/add">
    <span>Task Name:</span>
    <input #name type="text" name="task_name" value="" (click)="isDisabled=''"/><br/>

    <span>Description:</span>
    <input #description type="text" name="description" value="" (click)="isDisabled=''"/><br/>

    <input type="submit" value="add" disabled={{isDisabled}} (click)="add(name.value,description.value)"/>
  </form>

</div>

<h1>Task List</h1>
<table border=1>

  <tr>
    <th>Task_Seq</th>
    <th>Task_Name</th>
    <th>Description</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>


  <tr class="taskList" *ngFor="let task of taskList">
    <td>{{task.taskSeq}}</td>
    <td>{{task.taskName}}</td>
    <td>{{task.description}}</td>
    <td><input type="button" value="Delete" disabled={{deleteControll}} (click)="delete(task.taskSeq)"></td>
    <td><input type="button" value="Edit" disabled={{editControll}} (click)="edit(task)"></td>
  </tr>


</table>

</body>
